html, body {
	padding: 0;
	width: 100%;
	margin: 0;
	font-family: arial,sans-serif;
}
.imgCont {
	margin: 0px 1vw 2.5vw 1vw;
}
.imgTitle {
	width: 200px;
	word-wrap: break-word;
	display:block;
}
.imageResult {
	width: 200px;
	height: 200px;
	background-color: rgba(0,0,0,0.5);
	background-image: url(favicon.ico);
	background-position: 50% 50%, 0 0;
	background-repeat: no-repeat, repeat;
	border: 2px solid black;
	margin: 0;
	object-fit: cover;
	transition: .15s all ease-in-out;
}
.imageResult.nsfw {
	border: 2px solid red;
}
.imageResult:hover {
	box-shadow: 0 0 7px 0px black;
	object-fit: contain;
	transition: .15s all ease-in-out;
}
.imageResult.nsfw:hover {
	box-shadow: 0 0 7px 0px red;
}
.imgCont.notAnImg {
	opacity: 0.2;
	border: 2px solid gray;
}
.imgCont.notAnImg:hover {
	opacity: 0.4;
}
#images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: left;
	width: 100%;
	margin: 120px 0px 0px 0px;
	z-index:0;
}
#inputForm {
	position: fixed;
	top: 0;
	left: 0;
	height: 90px;
	background-color: black;
	box-shadow: 0 0 7px 0px black;
	color: white;
	width: 100%;
	z-index:1;
	padding: 5px;
	box-sizing: border-box;
}
#inputForm * {margin:2px;}
#inputForm #subreddit {width: 150px;}
#inputForm #sort {width: 100px;}
#inputForm #imageCount {width: 40px;}
#inputForm #imgWidth,
#inputForm #imgHeight {width: 60px;}
a {
	text-decoration:none;
	color:blue;
}
a:hover {
	text-decoration:underline;
	color:purple;
}
p {
	display:inline;
}